#define FG #aa0000
#define BG #ffffee

#define C0 #aa0000
#define C1 #cc4444
#define C2 #ee8888
#define C3 #ffdddd
#define C4 #ffbbbb
#define C5 #ffaaaa
#define C6 #ffcccc
#define C7 #ffffff

! #define FG #775566
! #define BG #ffffff

! #define C0 #775566
! #define C1 #aa77aa
! #define C2 #bb99cc
! #define C3 #eeddee
! #define C4 #aa99cc
! #define C5 #ddbbdd
! #define C6 #ccbbdd
! #define C7 #faf2fa

!! colors
*.foreground: FG
*.background: BG

*.color0: C0
*.color8: C0

*.color1: C1
*.color9: C1

*.color2:  C2
*.color10: C2

*.color3:  C3
*.color11: C3

*.color4:  C4
*.color12: C4

*.color5:  C5
*.color13: C5

*.color6:  C6
*.color14: C6

*.color7:  C7
*.color15: C7

!! Xterm
XTerm.vt100.faceName: ComicShanns
XTerm.vt100.faceNameDoublesize: azukifontB
XTerm.vt100.faceSize: 14
XTerm.vt100.geometry: 88x32
XTerm.vt100.scrollBar: true
XTerm.vt100.saveLines: 4096
XTerm.vt100.internalBorder: 24

!! Urxvt
URxvt.font:	xft:azukifontB:size=14:weight=regular
URxvt.geometry: 64x32
URxvt.scrollBar: false
URxvt.scrollBar_right: true
URxvt.cursorUnderline: false
URxvt.cursorBlink: true
URxvt.saveLines: 4096
URxvt.internalBorder: 0
URxvt.urlLauncher: firefox
URxvt.underlineURLs: true

URxvt.keysym.Control-Shift-C: eval:selection_to_clipboard
URxvt.keysym.Control-Shift-V: eval:paste_clipboard

!! Sxiv
Sxiv.font: azukifontB-16
Sxiv.foreground: C5
Sxiv.background: C7
