!! Urxvt
URxvt.font:	xft:azukifontB:size=14:weight=regular
URxvt.geometry: 96x32
URxvt.scrollBar: true
URxvt.scrollBar_right: true
URxvt.cursorUnderline: false
URxvt.cursorBlink: true
URxvt.saveLines: 4096
URxvt.internalBorder: 16
URxvt.urlLauncher: firefox
URxvt.underlineURLs: true

URxvt.keysym.Control-Shift-C: eval:selection_to_clipboard
URxvt.keysym.Control-Shift-V: eval:paste_clipboard
