include "menu.config"

layout "hbar" {
    layer = "top"
    edge = "bottom"
    monitor = "eDP-1"

    grid { style = "start-button" image { value = "menu-icon.png" } label { value = "Start" } action = Popup("startmenu"); }

    grid {
        style = "launchers"

        button { style = "launcher" value = "foot" action = Exec("alacritty"); }
        button { style = "launcher" value = "firefox" action = Exec("firefox"); }
        button { style = "launcher" value = "thunar" action = Exec("thunar"); }
        button { style = "launcher" value = "vscodium" action = Exec("vscodium"); }
        button { style = "launcher" value = "inkscape" action= Exec("inkscape"); }
        button { style = "launcher" value = "gimp" action= Exec("gimp"); }
    }

    taskbar {
        style = "taskbar"
        css = "grid {
            -GtkWidget-hexpand: true;
            -GtkWidget-column-homogeneous: true;
        }"

        rows = 1
        group = false
        tooltips = false
        icons = true
        labels = true
    }

    grid {
        style = "systray"

        tray { rows = 1 }

        widget "volume.widget" {
            simple_icon = True
        }

        widget "battery.widget" {
            style = "battery"
            value = "battery"
            device = 'BAT0'
            simple_icon = True
        }
    }


    widget "clock.widget" {
        style = "clock"
        time_format = "%I:%M %p"
    }
}

