module("appmenu")

layout {
    layer = "top"
    edge = "bottom"
    monitor = "eDP-1"

    grid {
        style = "start-button"

        image {
            value = "menu-active.png"
        }

        label {
            value = "Start"
        }

        action = Menu("app_menu_system");
    }

    grid {
        style = "launchers"

        button { style = "launcher" value = "terminal" action = Exec("alacritty"); }
        button { style = "launcher" value = "browser" action = Exec("firefox"); }
        button { style = "launcher" value = "folder" action = Exec("thunar"); }
        button { style = "launcher" value = "text-editor" action = Exec("vscodium"); }
        button { style = "launcher" value = "x-office-document" action = Exec("libreoffice"); }
        button { style = "launcher" value = "gimp" action= Exec("gimp"); }
        button { style = "launcher" value = "inkscape" action= Exec("inkscape"); }
    }

    taskbar {
        style = "taskbar"
        css = "grid {
            -GtkWidget-hexpand: true;
            -GtkWidget-column-homogeneous: true;
        }"

        rows = 1
        group = false
        tooltips = false
        icons = true
        labels = true
    }

    grid {
        style = "systray"

        tray { rows = 1 }

        widget "volume.widget" {
            simple_icon = True
        }

        widget "battery.widget" {
            style = "battery"
            value = "battery"
            device = 'BAT0'
            simple_icon = True
        }
    }


    widget "clock.widget" {
        style = "clock"
        time_format = "%I:%M %p"
    }
}

#CSS
/* Global */
* {
    -GtkWidget-vexpand: true;
}

window#sfwbar {
    background-color: transparent;
}

image {
    min-width: 18px;
    min-height: 18px;
}

button {
    all: unset;
}

/* Top level grid */
grid#layout {
    min-height: 38px;
    background-image: linear-gradient(180deg, #c4c3d0, #ffffff);

    border-top: 2px solid #ffffff;

    margin-top: 4px;
    box-shadow: 0px 0px 2px black;
}

/*  Start button */
#start-button {
    min-width: 120px;
    background-image: linear-gradient(180deg, #d6d7fc, #4a4a69, #4a4a69, #797a9b);

    border-top: 1px solid #808080;
    border-right: 2px solid #666666;

    border-top-right-radius: 12px 24px;
    border-bottom-right-radius: 12px 24px;

    padding-left: 12px;
}

#start-button label {
    font-family: "MochiyPopOne";
    font-size: 12pt;
    color: #fafafa;
    text-shadow: 1px 1px 2px black;

    padding-left: 4px;
}

#start-button image {
    min-height: 32px;
    min-width: 32px;
}

/* Launchers */
#launchers {
    padding: 0px 6px 0px 6px;
    margin: 2px 0px 2px 0px;
}

#launchers button {
    margin: 0px 2px 0px 2px;
}

/* Taskbar */
#taskbar {
    padding: 2px 2px 2px 2px;
}

#taskbar_item label {
    padding-top: 3px;
}

button#taskbar_item {
    -GtkWidget-hexpand: true;
    font-family: "IBMPlexSansJP";
    font-size: 11pt;

    border-radius: 6px;
    padding: 2px 6px 2px 6px;
    margin: 0px 1px 0px 0px;
}

button#taskbar_item {
    color: #24292f;
    text-shadow: 1px 1px 2px gray;
    background-image: linear-gradient(180deg, #ffffff, #d3d2e0, #d3d2e0, #ffffff);
    border: 1px solid #808080;
}

button#taskbar_item.focused {
    color: #fafafa;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    background-image: linear-gradient(180deg, #d6d7fc, #4a4a69, #4a4a69, #797a9b);
    border: 1px solid #666666;
}

button#taskbar_item.hover {}

button#taskbar_item label {
    padding-left: 5px;
}

/* Systray */
#systray {
    margin: 6px 0px 6px 6px;
}

#systray button {
    margin: 0px 2px 0px 2px;
}

#clock {
    font-family: "IBMPlexSansJP";
    font-size: 11pt;
    color: #24292f;

    padding-top: 3px;
    margin: 4px 12px 4px 4px;
}

/* Menu */
menu {
}

